# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env

# Node / Frontend
node_modules/
**/node_modules/
frontend/dist/

# Logs & temp
*.log
out.log
mingit.zip

# OS
Thumbs.db
.DS_Store
